In [178]:
import pandas as pd
import numpy as np

In [179]:
df=pd.read_csv('Corona_NLP_train.csv',encoding='latin')
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [180]:
df.shape

(41157, 6)

In [181]:
df['Sentiment']=df['Sentiment'].replace({'Neutral':5,'Positive':1,'Extremely Negative':4,'Negative':3,'Extremely Positive':2})
df['Sentiment']=df['Sentiment'].astype(int)

In [182]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,5
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,1
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,1
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,1
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",4

In [183]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.naive_bayes import MultinomialNB
x=df['OriginalTweet']
y=df['Sentiment']
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)
vect=CountVectorizer(min_df=5).fit(x_train)
names=np.array(vect.get_feature_names())
x_train_trans=vect.transform(x_train)

In [184]:
len(vect.get_feature_names())

9363

In [185]:
model = LogisticRegression(C=1)
model.fit(x_train_trans, y_train)
from sklearn import metrics
predict=model.predict(vect.transform(x_test))
print('roc_auc_score {:.2%}'.format(metrics.accuracy_score(y_test,predict)))

c:\users\tejveer singh\appdata\local\programs\python\python38-32\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

roc_auc_score 61.53%

In [186]:
df['OriginalTweet'][1]

'advice Talk to your neighbours family to exchange phone numbers create contact list with phone numbers of neighbours schools employer chemist GP set up online shopping accounts if poss adequate supplies of regular meds but not over order'

In [187]:
print(model.predict(vect.transform([df['OriginalTweet'][1]])))

[1]

In [188]:
df_test=pd.read_csv('Corona_NLP_test.csv',encoding='latin')
df_test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [189]:
df_test['Sentiment']=df_test['Sentiment'].replace({'Neutral':5,'Positive':1,'Extremely Negative':4,'Negative':3,'Extremely Positive':2})
df_test['Sentiment']=df_test['Sentiment'].astype(int)

In [190]:
df_test.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,4
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,1
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,2
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,3
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,5

In [191]:
len(df_test['OriginalTweet'])

3798

In [192]:
for i in range(0,3798):
    pred=model.predict(vect.transform([df_test['OriginalTweet'][i]]))
    l2.append(pred)
listToStr = ' '.join([str(elem) for elem in l2])
import re
l=map(int, re.findall(r'\d+', listToStr))
new_score=list(l)

In [193]:
x=pd.DataFrame(new_score,columns=['Test_Score'])

In [194]:
df_test_after_predicting=pd.merge(df_test,x,how='outer',left_index=True,right_index=True)
df_test_after_predicting.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,Test_Score
0,1.0,44953.0,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,4.0,5
1,2.0,44954.0,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,1.0,1
2,3.0,44955.0,NaN,02-03-2020,Find out how you can protect yourself and love...,2.0,1
3,4.0,44956.0,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,3.0,3
4,5.0,44957.0,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,5.0,5